apiVersion: v1
clusters:
- cluster:
    server: https://43D5B6B76AC7F3097D62C873B357EFA4.yl4.ap-southeast-2.eks.amazonaws.com
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: aws
  name: aws
current-context: aws
kind: Config
preferences: {}
users:
- name: aws
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1alpha1
      args:
      - "token"
      - "-i"
      - "ratecity-prod"
      command: aws-iam-authenticator
